<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f4f3b822-00d2-4859-bc9d-e5dc3ec8e35b" Publisher="CN=Slim" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RemotePlayer</DisplayName>
    <PublisherDisplayName>Slim</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RemotePlayer.App">
      <VisualElements DisplayName="RemotePlayer" Logo="Assets/Logo.png" SmallLogo="Assets/SmallLogo.png" Description="RemotePlayer" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="wideLogoOnly" ShortName="RemotePlayer" WideLogo="Assets/WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1F7236" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>